@import "vars"
@import "fonts"
@import "libs"

body
    font-family: Muller

.btn-main
    background-image: linear-gradient(to bottom, #35db6f, #2eb65e)
    text-shadow: 0px 2px 1px rgba(67, 77, 89, 0.4)
    font-size: 18px
    text-align: center
    color: #ffffff
    padding: 18px 60px
    outline: none !important
    cursor: pointer
    border-radius: 100px
    -webkit-box-shadow: 0px 7px 23px -15px $green
    -moz-box-shadow: 0px 7px 23px -15px $green
    box-shadow: 0px 7px 23px -15px $green
    border: 0

header
    min-height: 100vh
    background-image: url("../img/header.bg.png")
    background-position: center
    background-size: cover
    .img-glass
        position: absolute
        top: 0
        right: 0
    a
        span
            color: $grey
            font-family: MullerMedium
            font-size: 20px
    .row
        margin-top: 150px
    h1
        color: $green
        font-family: MullerExtraBold
        font-size: 50px
        line-height: 1.08
        span
            color: $grey
    h2
        margin-top: 40px
        margin-bottom: 100px
        position: relative
        padding-left: 40px
        font-size: 27px
        color: $grey
        span
            font-family: MullerBold
        &::after
            position: absolute
            content: ''
            width: 20px
            height: 2px
            background-color: $green
            top: calc(50% - 1px)
            left: 0


@-webkit-keyframes scroll-inner
    from
        -webkit-transform: translateY(0)
        -moz-transform: translateY(0)
        -ms-transform: translateY(0)
        -o-transform: translateY(0)
        transform: translateY(0)
    to
        -webkit-transform: translateY(30px)
        -moz-transform: translateY(30px)
        -ms-transform: translateY(30px)
        -o-transform: translateY(30px)
        transform: translateY(30px)



div.mouse-container
    position: relative
    display: block
    margin-top: -100px
    margin-bottom: 100px
div.mouse
    position: relative
    margin: 0 auto
    display: block
    width: 30px
    height: 50px
    border: solid 2px $green
    border-radius: 25px
    -webkit-animation: scroll-mouse 1.5s
    animation: scroll-mouse 1.5s
    -webkit-animation-iteration-count: infinite
    animation-iteration-count: infinite
    span.scroll-down
        display: block
        width: 7px
        height: 7px
        background: $green
        border-radius: 50%
        margin: 15% auto auto auto
        -webkit-animation: scroll-inner 1.5s
        animation: scroll-inner 1.5s
        -webkit-animation-iteration-count: infinite
        animation-iteration-count: infinite
        -webkit-animation-timing-function: ease
        animation-timing-function: ease

.section-glass
    padding: 80px 0
    .glass-container
        position: relative
    .dot
        width: 44px
        height: 44px
        background-color: rgba(46, 189, 96, .3)
        border-radius: 100%
        position: absolute
        &-inner
            position: absolute
            border-radius: 100%
            width: 22px
            height: 22px
            background-color: $green
        &--1
            top: 0
            left: 0
            div
                top: 11px
                left: 11px
        &--2
            top: 0
            right: 0
            div
                top: 11px
                left: 11px
        &--3
            bottom: 0
            left: 0
            div
                top: 11px
                left: 11px
        &--4
            bottom: 0
            right: 0
            div
                top: 11px
                left: 11px

    .glass
        position: relative
        margin: auto
        width: 400px
        height: 400px
        border-radius: 100%
        background-color: $green
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        img
            width: 80%
            margin-bottom: 5%
        &:before,
        &:after
            display: block
            position: absolute
            content: ''
            border: 2px solid $green
            left: -15px
            right: -15px
            top: -15px
            bottom: -15px
            border-radius: 50%
            animation: animate 1.5s linear infinite
        &:after
            animation-delay: 0.5s
    .type
        position: absolute
        width: 200%
        text-align: center
        &-2
            left: -40px
            top: -40px
        &-1
            right: -40px
            top: -40px
        &-3
            bottom: -40px
            left: -40px
        &-4
            bottom: -40px
            right: -40px
        p
            margin-top: 15px
            font-family: MullerBold
            color: #2b2b2b
            font-size: 20px
            line-height: 1.1

@keyframes animate
    0%
        transform: scale(0.5)
        opacity: 0
    50%
        opacity: 1
    100%
        transform: scale(1.4)
        opacity: 0

.section-form
    position: relative
    z-index: 1
    margin-top: 50px
    padding: 40px 0
    background-image: url("../img/form.bg.png")
    background-size: cover
    .form-container
        position: relative
        border-radius: 45px
        box-shadow: 0px 10px 26.7px 2.3px rgba(0, 0, 0, 0.26)
        background-color: #ffffff
        padding: 30px 0
        background-image: url("../img/form.head.png")
        background-position: center -150px
        background-repeat: no-repeat
        .img-zoomer
            position: absolute
            top: 0
            right: 0
        .title
            text-shadow: 0px 2px 1px rgba(67, 77, 89, 0.4)
            font-family: MullerExtraBold
            font-size: 40px
            text-align: center
            color: #ffffff
            display: block
            margin-bottom: 50px
    form
        input:not(.check)
            background-color: #e8e8e8
            border-radius: 100px
            outline: none
            padding: 15px 0
            border: none
            text-align: center
            font-size: 17px
            width: 100%
        .btn-main
            line-height: 1
        a
            color: #26a1ff
            font-size: 17px
            text-decoration: underline

//MAHA

//FOOTER
.footer
  background-color: #434d59
  position: relative
  &-oval
    position: absolute
    z-index: 11
  &-header
    z-index: 11111
    position: relative
    text-align: center
    transform: translateY(-100%)
    font-size: 45px
    color: white
  &-bottom
    margin-top: 31px
    .fa
      color: #2ebd61
      font-size: 32px
      margin-right: 17px
    p
      font-size: 22px
    &--left
      background-color: white
      border-radius: 20px
      padding: 80px 50px
  .bottom-word
    text-align: center
    color: #a4a6a9
    margin-top: 90px
    padding-bottom: 60px
  &-form
    background-color: white
    border-radius: 20px
    padding: 180px 65px 41px 65px
    text-align: center
    input
      background-color: #e8e8e8
      border-radius: 100px
      text-align: center
      margin: 0 16px
      padding: 18px 40px
      border: none
    .btn-main
      margin: 35px 0 22px
.about
  position: relative
  padding: 100px 0 70px
  h2
    border-bottom: 15px solid green
    display: inline-block
    font-size: 74px
  p
    font-size: 22px
  &-img
    position: absolute
    top: -30%
    right: 0
.mt80
  margin-top: 80px

@import "media" // Always at the end
